\begin{table*}
  \centering
  \begin{tabular}{|c|c|c|c|}
    \hline
    Description & Symbol & Value & Unit \\
    \hline
    \hline
    {% for sec in sections %}
    {% for row in sec %}
    {{ row.descr }} & ${{ row.symbol }}$ & ${{ row.value }}$ & {{ row.unit }}\\
    {% endfor %}
    \hline
    {% endfor %}
  \end{tabular}
  \caption{Physical Constant Table}
  \label{tab:nucdata}
\end{table*}