\begin{table*}
  \centering
  \begin{tabular}{|c|c|c|c|c|c|c|c|}
    \hline
    Supernova & Band & $\Delta m_{-10}$ & $\Delta m_{15}$ & Linear Slope & $M_\text{max}$ & Peak Width & Rise Timescale \\
    & & (mag) & (mag) & (mmag/d) & (mag) & (d) & (d) \\
    \hline
    \hline
    {% for grp in measurements %}
    {% for row in grp %}
    {{ row.sne_name }} & {{ row.band }} & {{ row.delta_mn10 }} & {{ row.delta_m15 }} & {{ row.linear_slope }} & {{ row.m_max }}  & {{ row.peak_width }} & {{ row.rise_timescale }} \\
    {% endfor %}
    \hline
    {% endfor %}
  \end{tabular}
  \caption{Basic lightcurve observables extracted from SN2019odp and the comparison objects. $\Delta m_{-10}$ denotes the magnitude difference from peak to 10 days before peak. $\Delta m_{15}$ denotes the magnitude difference from peak to 15 days past peak. The linear slope is the late-time decay slope. $M_\text{max}$ denotes the peak absolute magnitude including extinction and distance uncertainties. Peak width denotes the width of the gaussian around peak. The rise timescale denotes the timescale factor from the Contardo model.}
  \label{tab:ana:observables}
\end{table*}