<table class="fm" frame="hsides" rules="groups" width="100%">
<thead>
<tr>
<th align="left">SN</th>
<th align="center"><i>t</i>(<i>r</i><sub>max</sub>)</th>
<th align="center"><i>r</i><sub>max</sub></th>
<th align="center">Δ<i>m</i><sub>15</sub></th>
<th align="center">Δ<i>m</i><sub>−10</sub></th>
<th align="center">Linear slope</th>
<th align="center">M_max r</th>
<th align="center"><i>t</i><sub>explo</sub><sup><i>a</i></sup></th>
</tr>
<tr>
<th align="left"></th>
<th align="center">(JD)</th>
<th align="center">(mag)</th>
<th align="center">(mag)</th>
<th align="center">(mag)</th>
<th align="center">(mag d<sup>−1</sup>)</th>
<th align="center">(mag)</th>
<th align="center">(JD)</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">PTF10bzf</td>
<td align="center">2455261.03(1.91)</td>
<td align="center">18.48(0.06)</td>
<td align="center">0.43(0.05)</td>
<td align="center">...</td>
<td align="center">0.019(0.001)</td>
<td align="center">−18.30(0.75)</td>
<td align="center">2455246.94</td>
</tr>
<tr>
<td align="left">PTF10ciw</td>
<td align="center">2455262.38(0.26)</td>
<td align="center">20.22(0.11)</td>
<td align="center">0.77(0.05)</td>
<td align="center">...</td>
<td align="center">0.060(0.005)</td>
<td align="center">−18.53(0.41)</td>
<td align="center">2455242.69</td>
</tr>
<tr>
<td align="left">PTF10gvb</td>
<td align="center">2455335.97(0.16)</td>
<td align="center">19.42(0.06)</td>
<td align="center">0.82(0.01)</td>
<td align="center">0.73(0.01)</td>
<td align="center">...</td>
<td align="center">−18.92(0.41)</td>
<td align="center">2455316.10</td>
</tr>
<tr>
<td align="left">PTF10qts</td>
<td align="center">2455425.84(0.04)</td>
<td align="center">19.10(0.05)</td>
<td align="center">0.74(0.01)</td>
<td align="center">1.67(0.09)</td>
<td align="center">...</td>
<td align="center">−19.13(0.39)</td>
<td align="center">2455412.10</td>
</tr>
<tr>
<td align="left">PTF10tqv</td>
<td align="center">2455437.88(1.12)</td>
<td align="center">19.73(0.15)</td>
<td align="center">1.09(0.08)</td>
<td align="center">0.86(0.16)</td>
<td align="center">...</td>
<td align="center">−18.19(0.76)</td>
<td align="center">2455422.67</td>
</tr>
<tr>
<td align="left">PTF10vgv</td>
<td align="center">2455463.78(0.02)</td>
<td align="center">16.06(0.01)</td>
<td align="center">1.24(0.01)</td>
<td align="center">...</td>
<td align="center">0.067(0.013)</td>
<td align="center">−18.41(0.74)</td>
<td align="center">2455453.47</td>
</tr>
<tr>
<td align="left">PTF10xem</td>
<td align="center">2455486.44(0.16)</td>
<td align="center">18.80(0.04)</td>
<td align="center">0.35(0.01)</td>
<td align="center">0.40(0.01)</td>
<td align="center">0.032(0.007)</td>
<td align="center">−18.28(0.75)</td>
<td align="center">2455461.65</td>
</tr>
<tr>
<td align="left">PTF10ysd</td>
<td align="center">2455491.16(0.38)</td>
<td align="center">20.05(0.05)</td>
<td align="center">...</td>
<td align="center">0.75(0.16)</td>
<td align="center">...</td>
<td align="center">−19.31(0.75)</td>
<td align="center">2455465.00</td>
</tr>
<tr>
<td align="left">PTF10aavz</td>
<td align="center">2455529.12(0.54)</td>
<td align="center">18.34(0.04)</td>
<td align="center">0.48(0.05)</td>
<td align="center">0.56(0.15)</td>
<td align="center">0.016(0.001)</td>
<td align="center">−19.08(0.39)</td>
<td align="center">2455507.98</td>
</tr>
<tr>
<td align="left">PTF11cmh</td>
<td align="center">2455682.98(0.07)</td>
<td align="center">20.03(0.03)</td>
<td align="center">0.80(0.09)</td>
<td align="center">1.24(0.21)</td>
<td align="center">...</td>
<td align="center">−18.46(0.42)</td>
<td align="center">2455669.28</td>
</tr>
<tr>
<td align="left">PTF11img</td>
<td align="center">2455767.27(1.07)</td>
<td align="center">20.53(0.04)</td>
<td align="center">0.64(0.16)</td>
<td align="center">0.85(0.32)</td>
<td align="center">...</td>
<td align="center">−19.28(0.39)</td>
<td align="center">2455748.34</td>
</tr>
<tr>
<td align="left">PTF11lbm</td>
<td align="center">2455805.47(0.10)</td>
<td align="center">18.32(0.01)</td>
<td align="center">0.86(0.01)</td>
<td align="center">1.00(0.10)</td>
<td align="center">...</td>
<td align="center">−18.32(0.41)</td>
<td align="center">2455793.76</td>
</tr>
<tr>
<td align="left">PTF12as</td>
<td align="center">2455933.55(0.50)</td>
<td align="center">18.45(0.06)</td>
<td align="center">1.17(0.09)</td>
<td align="center">2.07(0.30)</td>
<td align="center">0.045(0.005)</td>
<td align="center">−18.14(0.39)</td>
<td align="center">2455921.01</td>
</tr>
<tr>
<td align="left">PTF12eci</td>
<td align="center">2456067.34(0.13)</td>
<td align="center">19.48(0.02)</td>
<td align="center">0.63(0.05)</td>
<td align="center">...</td>
<td align="center">...</td>
<td align="center">−18.55(0.43)</td>
<td align="center">2456052.37</td>
</tr>
<tr>
<td align="left">iPTF13u</td>
<td align="center">2456330.19(0.22)</td>
<td align="center">19.93(0.04)</td>
<td align="center">0.95(0.06)</td>
<td align="center">...</td>
<td align="center">...</td>
<td align="center">−18.51(0.75)</td>
<td align="center">2456318.90</td>
</tr>
<tr>
<td align="left">iPTF13alq</td>
<td align="center">2456398.28(0.10)</td>
<td align="center">18.19(0.02)</td>
<td align="center">0.63(0.01)</td>
<td align="center">...</td>
<td align="center">...</td>
<td align="center">−18.77(0.42)</td>
<td align="center">2456386.46</td>
</tr>
<tr>
<td align="left">iPTF13bxl</td>
<td align="center">2456492.01(0.60)</td>
<td align="center">20.36(0.09)</td>
<td align="center">...</td>
<td align="center">...</td>
<td align="center">...</td>
<td align="center">−18.94(0.40)</td>
<td align="center">2456475.00</td>
</tr>
<tr>
<td align="left">iPTF13dnt</td>
<td align="center">2456566.01(0.63)</td>
<td align="center">20.21(0.06)</td>
<td align="center">0.49(0.04)</td>
<td align="center">...</td>
<td align="center">...</td>
<td align="center">−19.00(0.75)</td>
<td align="center">2456545.04</td>
</tr>
<tr>
<td align="left">iPTF13ebw</td>
<td align="center">2456630.13(0.19)</td>
<td align="center">19.56(0.01)</td>
<td align="center">1.27(0.18)</td>
<td align="center">...</td>
<td align="center">0.007(0.004)</td>
<td align="center">−18.03(0.74)</td>
<td align="center">2456612.21</td>
</tr>
<tr>
<td align="left">iPTF14dby</td>
<td align="center">2456850.34(0.29)</td>
<td align="center">20.00(0.07)</td>
<td align="center">0.61(0.03)</td>
<td align="center">0.38(0.01)</td>
<td align="center">...</td>
<td align="center">−17.77(0.40)</td>
<td align="center">2456828.08</td>
</tr>
<tr>
<td align="left">iPTF14gaq</td>
<td align="center">2456930.24(0.22)</td>
<td align="center">19.88(0.03)</td>
<td align="center">...</td>
<td align="center">...</td>
<td align="center">...</td>
<td align="center">−18.23(0.40)</td>
<td align="center">2456920.21</td>
</tr>
<tr>
<td align="left">iPTF15dqg</td>
<td align="center">2457342.21(0.20)</td>
<td align="center">17.75(0.01)</td>
<td align="center">0.75(0.03)</td>
<td align="center">...</td>
<td align="center">...</td>
<td align="center">−19.41(0.61)</td>
<td align="center">2457328.73</td>
</tr>
<tr>
<td align="left">iPTF15eov</td>
<td align="center">2457386.96(0.45)</td>
<td align="center">17.38(0.02)</td>
<td align="center">0.11(0.01)</td>
<td align="center">0.07(0.01)</td>
<td align="center">...</td>
<td align="center">−20.82(0.45)</td>
<td align="center">2457358.72</td>
</tr>
<tr>
<td align="left">iPTF16asu</td>
<td align="center">2457525.65(0.09)</td>
<td align="center">20.09(0.10)</td>
<td align="center">0.83(0.05)</td>
<td align="center">...</td>
<td align="center">...</td>
<td align="center">−19.79(0.80)</td>
<td align="center">2457519.03</td>
</tr>
<tr>
<td align="left">iPTF16gox</td>
<td align="center">2457647.26(4.92)</td>
<td align="center">19.06(0.15)</td>
<td align="center">0.24(0.30)</td>
<td align="center">...</td>
<td align="center">...</td>
<td align="center">−17.74(0.58)</td>
<td align="center">2457641.59</td>
</tr>
<tr>
<td align="left">iPTF16ilj</td>
<td align="center">2457721.67(0.21)</td>
<td align="center">18.05(0.03)</td>
<td align="center">0.68(0.01)</td>
<td align="center">0.37(0.03)</td>
<td align="center">...</td>
<td align="center">−19.00(0.42)</td>
<td align="center">2457701.25</td>
</tr>
<tr>
<td align="left">iPTF17cw</td>
<td align="center">2457767.98(1.20)</td>
<td align="center">19.00(0.07)</td>
<td align="center">0.77(0.09)</td>
<td align="center">...</td>
<td align="center">...</td>
<td align="center">−19.26(0.54)</td>
<td align="center">2457752.40</td>
</tr>
</tbody>
</table>

